.tracker {
  position: fixed;
  width: 30px;
  height: 30px;
  background: var(--color);
  border-radius: 50%;
  filter: blur(10px);
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: 1001;
}

@media screen and (max-width: 768px) {
  .tracker {
    display: none;
  }
}